.idea/compiler.xml
.idea/copyright/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
*.iml
target/
src/main/resources/
src/test/
/src/main/java/com/softw4re/turengdictionary/testapp/
/src/main/java/com/softw4re/turengdictionary/testapp/TestApp.java
